.container{
    border:2px solid blue;
    text-align:center;
    
    height:353px;
    width:400px;
}
body{
    padding:70px;
}
h1{
    margin:auto;
}
.row{
    height:90px;
    width:396px;
    background-color:paleturquoise;
}

.btn-success{
    margin-right: 38px;
    font-size: 17px;
}

.btn-info{
    font-size: 17px;
}