<div class = "headerr">
    <nav class="wrapper">
        <header class="animated fadeInDown" id="navbar">
            <div class="header-w3layouts">
                <h1>
                    <a class="navbar-brand logo" href="index.html">
                        Utilizer
                    </a>
                </h1>
            </div>
            <div class="nav_w3pvt">
                <nav>
                    <label for="drop" class="toggle mt-lg-0 mt-2"><span class="fa fa-bars" aria-hidden="true"></span></label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu">
                        <li class="active"><a href="#">Home</a></li>
                        <li class=""><a href="#">Blogs</a></li>
                        <li class=""><a href="#">Career Events</a></li>
                        <li class=""><a href="#">Meet Mentor</a></li>
                        <li class=""><a href="#">Contact Us</a></li>
                        <li class="p-0">
                            <!-- First Tier Drop Down -->
                            <label for="drop-2" class="toggle">Pages <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                            <a href="#">Pages <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                            <input type="checkbox" id="drop-2" />
                            <ul class="inner-dropdown">
                                <li><a href="#">Error Page</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="clear"></div>

        </header>
    </nav>
</div>
