.footer{
    text-align: center;
    top: 620px;
    position: absolute;
    width: 95%;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(#ffffff00, 0));
    padding-left: 50px;
    padding-top: 132px;
  }