
  <h2 class="inner-tittle">LOGED IN MENTORS</h2>
    <div class="graph">
        <div class="tables">
            
          <table class="ui striped table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Date Joined</th>
              <th>E-mail</th>
              <th>Called</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John Lilki</td>
              <td>September 14, 2013</td>
              <td>jhlilk22@yahoo.com</td>
              <td>No</td>
            </tr>
            <tr>
              <td>Jamie Harington</td>
              <td>January 11, 2014</td>
              <td>jamieharingonton@yahoo.com</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td>Jill Lewis</td>
              <td>May 11, 2014</td>
              <td>jilsewris22@yahoo.com</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td>John Lilki</td>
              <td>September 14, 2013</td>
              <td>jhlilk22@yahoo.com</td>
              <td>No</td>
            </tr>
            <tr>
              <td>John Lilki</td>
              <td>September 14, 2013</td>
              <td>jhlilk22@yahoo.com</td>
              <td>No</td>
            </tr>
            <tr>
              <td>Jamie Harington</td>
              <td>January 11, 2014</td>
              <td>jamieharingonton@yahoo.com</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td>Jill Lewis</td>
              <td>May 11, 2014</td>
              <td>jilsewris22@yahoo.com</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td>John Lilki</td>
              <td>September 14, 2013</td>
              <td>jhlilk22@yahoo.com</td>
              <td>No</td>
            </tr>
          </tbody>
        </table>

        
        
        
        <form>
          <div class="vali-form">
          <div class="col-md-6 form-group1">
            <label class="control-label">Firstname</label>
            <input type="text" placeholder="Firstname" required="">
          </div>
          <div class="col-md-6 form-group1 form-last">
            <label class="control-label">Lastname</label>
            <input type="text" placeholder="Lastname" required="">
          </div>
          <div class="clearfix"> </div>
          </div>
          
          <div class="col-md-12 form-group1 group-mail">
            <label class="control-label">Email</label>
            <input type="text" placeholder="Email" required="">
          </div>
           <div class="clearfix"> </div>
        
           <div class="clearfix"> </div>

          
          
          <div class="vali-form">
          <div class="col-md-6 form-group1">
            <label class="control-label">Phone Number</label>
            <input type="text" placeholder="Phone Number" required="">
          </div>
          <div class="col-md-6 form-group1 form-last">
            <label class="control-label">Mobile Number</label>
            <input type="text" placeholder="Mobile Number" required="">
          </div>
          <div class="clearfix"> </div>
          </div>
           <div class="vali-form vali-form1">
          <div class="col-md-6 form-group1">
            <label class="control-label">Create a password</label>
            <input type="password" placeholder="Create a password" required="">
          </div>
          <div class="col-md-6 form-group1 form-last">
            <label class="control-label">Repeat password</label>
            <input type="password" placeholder="Repeated password" required="">
          </div>
          <div class="clearfix"> </div>
          </div>
           <div class="col-md-12 form-group1 group-mail">
            <label class="control-label">Number</label>
            <input type="text" placeholder="Number" required="">
             <p class=" hint-block check">Numeric values from 0-***</p>
          </div>
           <div class="clearfix"> </div>
           
      
           <div class="clearfix"> </div>
          <div class="col-md-12 form-group">
            <div class="checkbox1">
            </div>
          </div>
           <div class="clearfix"> </div>
           
           <div class="clearfix"> </div>
          
          <div class="col-md-12 form-group button-2">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-default">Reset</button>
          </div>
          <div class="clearfix"> </div>
        </form>
