<div class="container">
  <h1>Requests</h1>
  <hr>
  <div class="row">
    <div class="container" *ngIf="user_profile.role == 'mentor'">
      <div class="ui feed"  *ngFor="let request of requests">
        <div class="event">
          <div class="label">
            <img src="../assets/images/banner.jpg">
          </div>
          <div class="content">
            <a [routerLink] = "['/profile/view-request']" [queryParams]="{user_ID:request.payload.doc.data().student_ID, doc_ID:request.payload.doc.id}">
              <div class="summary">
                <a class="user">
                    {{ request.payload.doc.data().student.full_name }}
                </a>sent you a mentorship request
                <div class="date">
                  1 Hour Ago
                </div>
              </div>
            </a>
            <div class="meta">
              <a class="like">
                <i class="like icon"></i> 4 Likes
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" *ngIf="user_profile.role == 'student'">
      <div class="ui feed"  *ngFor="let request of requests">
        <div class="event">
          <div class="label">
            <img src="../assets/images/banner.jpg">
          </div>
          <div class="content">
            <a [routerLink] = "['/profile/view-request']" [queryParams]="{user_ID:request.payload.doc.data().mentor_ID, doc_ID:request.payload.doc.id}">
            <div class="summary">
                you have sent a mentorship request to
              <a class="user">
                  {{ request.payload.doc.data().mentor.full_name }}
              </a>
              <div class="date">
                1 Hour Ago
              </div>
            </div>
            </a>
            <div class="meta">
              <a class="like">
                <i class="like icon"></i> 4 Likes
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
