.headerr{
    text-align: center;
    top: 20px;
    position: absolute;
    height: 80px;
    width: 100%;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(#ffffffea, 0));
    opacity: 1;
  }

  img{
    float: left;
    width: 26%;
  }