
<app-header></app-header>
<div class="main-top-intro" (scroll)="onWindowScroll($event);">
  <div class="bg-layer">
   <div class="terms">
  
      <h1 class="xlarge-font"><b>Events</b></h1>

      <ul class="grid">
          <li>
            <figure class="grid__figure">
              <img src="https://mdbootstrap.com/img/Photos/Others/img (36).jpg" alt="">
              <figcaption>Vehicula Quam Nibh</figcaption>
            </figure>
          </li>
          <li>
            <figure class="grid__figure">
              <img src="https://mdbootstrap.com/img/Photos/Others/img (34).jpg" alt="">
              <figcaption>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla.</figcaption>
            </figure>
          </li>
          <li>
            <figure class="grid__figure">
              <img src="https://picsum.photos/200/300/?random" alt="">
              <figcaption>Parturient Mollis Malesuada Tristique Inceptos.</figcaption>
            </figure>
          </li>
          <li>
            <figure class="grid__figure">
              <img src="https://picsum.photos/400/200/?random" alt="">
              <figcaption>Vehicula Quam Nibh</figcaption>
            </figure>
          </li>
          <li>
              <figure class="grid__figure">
                <img src="https://mdbootstrap.com/img/Photos/Others/img (36).jpg" alt="">
                <figcaption>Vehicula Quam Nibh</figcaption>
              </figure>
          </li>
          <li>
            <figure class="grid__figure">
              <img src="https://picsum.photos/200/600/?random" alt="">
              <figcaption>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla.</figcaption>
            </figure>
          </li>
          <li>
            <figure class="grid__figure">
              <img src="https://picsum.photos/600/600/?random" alt="">
              <figcaption>Parturient Mollis Malesuada Tristique Inceptos.</figcaption>
            </figure>
          </li>
          <li>
            <figure class="grid__figure">
              <img src="https://picsum.photos/420/300/?random" alt="">
              <figcaption>Vehicula Quam Nibh</figcaption>
            </figure>
          </li>
          <li>
            <figure class="grid__figure">
              <img src="https://picsum.photos/800/800/?random" alt="">
              <figcaption>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla.</figcaption>
            </figure>
          </li>
          <li>
            <figure class="grid__figure">
              <img src="https://picsum.photos/640/400/?random" alt="">
              <figcaption>Parturient Mollis Malesuada Tristique Inceptos.</figcaption>
            </figure>
          </li>
          <li>
              <figure class="grid__figure">
                <img src="https://picsum.photos/420/300/?random" alt="">
                <figcaption>Vehicula Quam Nibh</figcaption>
              </figure>
            </li>
            <li>
                <figure class="grid__figure">
                  <img src="https://picsum.photos/200/600/?random" alt="">
                  <figcaption>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla.</figcaption>
                </figure>
              </li>
              <li>
                  <figure class="grid__figure">
                    <img src="https://picsum.photos/800/800/?random" alt="">
                    <figcaption>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla.</figcaption>
                  </figure>
                </li>
                <li>
                    <figure class="grid__figure">
                      <img src="https://picsum.photos/400/200/?random" alt="">
                      <figcaption>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla.</figcaption>
                    </figure>
                  </li>
                  <li>
                      <figure class="grid__figure">
                        <img src="https://picsum.photos/800/800/?random" alt="">
                        <figcaption>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla.</figcaption>
                      </figure>
                    </li>
                    <li>
                        <figure class="grid__figure">
                          <img src="https://picsum.photos/420/300/?random" alt="">
                          <figcaption>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla.</figcaption>
                        </figure>
                      </li>
        </ul>




    </div>
  </div>
</div>
<!-- footer -->
<app-footer></app-footer>







<!----<div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel">
          <div class="controls-top">
              <a class="btn-floating" href="#carousel-example-multi" data-slide="prev"><i
                  class="fas fa-chevron-left"></i></a>
              <a class="btn-floating" href="#carousel-example-multi" data-slide="next"><i
                  class="fas fa-chevron-right"></i></a>
            </div>
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-multi" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-multi" data-slide-to="1"></li>
              <li data-target="#carousel-example-multi" data-slide-to="2"></li>
              <li data-target="#carousel-example-multi" data-slide-to="3"></li>
              <li data-target="#carousel-example-multi" data-slide-to="4"></li>
              <li data-target="#carousel-example-multi" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner v-2" role="listbox">
              <div class="carousel-item active">
                <div class="col-12 col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/img (36).jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title font-weight-bold">Card title</h4>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                      <a class="btn btn-primary btn-md btn-rounded">Button</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-12 col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/img (34).jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title font-weight-bold">Card title</h4>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                      <a class="btn btn-primary btn-md btn-rounded">Button</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-12 col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/img (38).jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title font-weight-bold">Card title</h4>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                      <a class="btn btn-primary btn-md btn-rounded">Button</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-12 col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/img (29).jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title font-weight-bold">Card title</h4>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                      <a class="btn btn-primary btn-md btn-rounded">Button</a>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-12 col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/img (30).jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title font-weight-bold">Card title</h4>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                      <a class="btn btn-primary btn-md btn-rounded">Button</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-12 col-md-4">
                  <div class="card mb-2">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/img (27).jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title font-weight-bold">Card title</h4>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                     <a class="btn btn-primary btn-md btn-rounded">Button</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>--->