<!-- header -->
<app-header></app-header>
<div class="main-top-intro" (scroll)="onWindowScroll($event);">
  <div class="bg-layer">
    <div class="terms" style="color: black; min-height:960px">


<section class="col-sm-12">
      
<!-- <a id="main-content"></a> -->
<div class="region region-content">
<div class="views-element-container form-group">



<div class="view-content">


<div class="views-row">
<div class="col-md-4 col-sm-6">
<div class="course">
<figure class="course__image">
<img src="./assets/images/accounting.jpeg" width="545" height="340" alt="Thumbnail" title="tamarcus-brown-131431-unsplash.jpg" typeof="foaf:Image" class="img-responsive" /> 
</figure>

<h3 class="course__title">
<a href="/index.php/group/1" hreflang="en">Accounting</a>
</h3>

</div>
</div>
</div>


<div class="views-row">
<div class="col-md-4 col-sm-6">
<div class="course">
<figure class="course__image">
<img src="./assets/images/time.jpeg" width="545" height="340" alt="Thumbnail" title="25.jpg" typeof="foaf:Image" class="img-responsive" />
</figure>

<h3 class="course__title">
<a href="/index.php/group/4" hreflang="en">Time Management</a>
</h3>

</div>
</div>
</div>


<div class="views-row">
<div class="col-md-4 col-sm-6">
<div class="course">

<figure class="course__image">
<img src="./assets/images/negotiation.jpeg" width="545" height="340" alt="Thumbnail" title="cxvmw7gw8aa_3dy.jpg" typeof="foaf:Image" class="img-responsive" />
</figure>

<h3 class="course__title">
<a href="/index.php/group/5" hreflang="en">How To Answer TELL ME ABOUT YOURSELF Interview Question</a>
</h3>

</div>
</div>
</div>


<div class="views-row">
<div class="col-md-4 col-sm-6">
<div class="course">

<figure class="course__image">
<img src="./assets/images/about.jpeg" width="545" height="340" alt="Thumbnail" title="depositphotos_182937162_m-2015.jpg" typeof="foaf:Image" class="img-responsive" />
</figure>

<h3 class="course__title">
<a href="/index.php/group/6" hreflang="en">Salary Negotiation Tips</a>
</h3>

</div>
</div>
</div>


<div class="views-row">
<div class="col-md-4 col-sm-6">
<div class="course">

<figure class="course__image">
<img src="./assets/images/money.jpeg" width="545" height="340" alt="Thumbnail" title="no-essay-scholarships.jpg" typeof="foaf:Image" class="img-responsive" />
</figure>

<h3 class="course__title">
<a href="/index.php/group/7" hreflang="en">How to Properly Manage Your Money Like the Rich</a>
</h3>

</div>
</div>
</div>


<div class="views-row">
<div class="col-md-4 col-sm-6">
<div class="course">

<figure class="course__image">
<img src="./assets/images/network.jpeg"width="545" height="340" alt="Thumbnail" title="dzyhy-ox0ai9xsd_brt.jpg" typeof="foaf:Image" class="img-responsive" />
</figure>

<h3 class="course__title">
<a href="/index.php/group/8" hreflang="en">Networking Tips for Entrepreneurs</a>
</h3>

</div>
</div>
</div>

</div>
</div>
</div>

</section>













      
    </div>
  </div>
</div>
<!-- footer -->
<app-footer></app-footer>
