<!-- header -->
<app-header></app-header>
<div class="main-top-intro" (scroll)="onWindowScroll($event);">
  <div class="bg-layer">
    <div class="terms">



      <div class="gallery">
        <!-- fig1 -->
        <figure>
            <img src="../assets/images/negotiation.jpeg">
              <a href="https://www.thebalancecareers.com/salary-negotiation-tips-how-to-get-a-better-offer-2063439">
                <figcaption>
                Salary Negotiation Tips
                </figcaption>
              </a>
        </figure>

        <!-- fig2 -->
        <figure>
            <img src="../assets/images/money.jpeg">
            <a href="https://www.thebalance.com/ways-to-be-better-with-money-960664">
               <figcaption>
                How to Properly Manage Your Money Like the Rich
               </figcaption>
            </a>  
        </figure>

          <!-- fig3 -->
          <figure>
              <img src="../assets/images/time.jpeg">
                <a href="https://toggl.com/time-management-tips/">
                  <figcaption>
                      Time Management
                  </figcaption>
                </a>      
          </figure>

           <!-- fig4-->
           <figure>
              <img src="../assets/images/accounting.jpeg">
                <a href="https://www.accountingcoach.com/accounting-basics/explanation">
                  <figcaption>
                      Accounting
                  </figcaption>
                </a>
          </figure>

           <!-- fig5 -->
           <figure>
              <img src="../assets/images/network.jpeg">
                <a href="https://www.entrepreneur.com/article/247172">
                    <figcaption>
                        Networking Tips for Entrepreneurs
                    </figcaption>
                </a> 
          </figure>

           <!-- fig6 -->
           <figure>
              <img src="../assets/images/about.jpeg">
                <a href="https://biginterview.com/blog/2011/09/tell-me-about-yourself.html">
                  <figcaption>
                      How To Answer TELL ME ABOUT YOURSELF Interview Question
                  </figcaption>
                </a>      
          </figure>

          <!-- fig7-->
          <figure>
              <img src="../assets/images/jobs.jpeg">
                <a href="https://www.thebalancecareers.com/best-paid-jobs-of-2019-4580114">
                    <figcaption>
                      Highest Paying Jobs in 2019
                    </figcaption>
                </a>  
          </figure>

          <!-- fig8 -->
          <figure>
              <img src="../assets/images/freelancing.jpeg">
                <a href="https://www.wikihow.com/Earn-Money-As-a-Freelancer">
                  <figcaption>
                    Can you make money Freelancing?
                  </figcaption>
                </a>
          </figure>

          
      </div>





















      
    </div>
  </div>
</div>
<!-- footer -->
<app-footer></app-footer>
