<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-app.js"></script>
<script src = "student-user.component.ts"></script>
  

  <!--
   <div style="padding: 40px !important ; background: white !important">
      {{students|json}}
    </div> 
  -->

  <div>
  <h1 class="ui center aligned icon header">
    <i class="circular users icon"></i>
    Students
  </h1>
   </div>

   <div style = "padding-left: 18em">
    <div class="ui category search">
      <div class="ui icon input">
<input class="prompt" type="text" placeholder="Search..." (keydown)="searchStudents($event)" name="searchString" [(ngModel)]="term">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>
      
  </div>
    

    <table class="ui compact celled definition table" style="margin-left: 230px; width:700px" id="studentstable">
        <thead class="full-width">
          <tr>
            <th></th>
            <th>Name</th>
            <th>Date of Account creation</th>
            <th>E-mail address</th>
            <th>Gender</th>
            <th>Campus</th>
            <th>Course</th>
            <th>Date of Birth</th>
            <th>Date joined University</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let student of students ">
            <td class="collapsing">
              <div class="ui fitted slider checkbox">
                <input type="checkbox"> <label></label>
              </div>
            </td>
            <td>{{student.full_name}}</td>
            <td>{{student.created_at}}</td>
            <td>{{student.email}}</td>
            <td>{{student.gender}}</td>
            <td>{{student.campus}}</td>
            <td>{{student.course}}</td>
            <td>{{student.dob}}</td>
            <td>{{student.date_joined}}</td>

          </tr>
        </tbody>

        <tfoot class="full-width">
          <tr>
            <th></th>
            <th colspan="4">
              <div class="ui right floated small primary labeled icon button">
                <i class="user icon"></i> <a [routerLink] = "['/adduser']">Add User</a>
              </div>
              <div class="ui small  button">
                Approve
              </div>
              <div class="ui small  disabled button">
                Approve All
              </div>
            </th>
          </tr>
        </tfoot>
      </table>

    

  