 <div class="main-top-intro" (scroll)="onWindowScroll($event);">
  <div class="bg-layer">
      <!-- header -->
    
    <!-- //header -->

          <!---728x90--->

        <div class="fancyFont">
          <div>
            <div>
              <h2>Welcome!!!</h2>
              </div>
              <!---728x90--->

              <div class="content-w3layouts-main">

                  <div class="form-w3ls-left-info">

                      <form class="ui form" [formGroup]="loginForm" [ngClass]="{'loading': isLoading}" #myForm="ngForm">
                          <div class ="_registerr">
                              <p style="color: white"> EMAIL </p>
                           </div>
                          <input class="_h60 _fs20 " type="email" placeholder="Email Address" required="" formControlName="email" /><div class="inputs">
                              <div class ="_registerr">
                                  <p style="color: white"> PASSWORD </p>
                               </div>
                          <input class="_h60 _fs20" type="password" placeholder="Password" required="" formControlName="password" /></div>
                          <!--
                          <label class="error">{{errorMessage}}</label>
                          <label class="success">{{successMessage}}</label>
                          -->

                          <div class="links _mt20" fxLayout="row">
                            
                            <a style="color: white" href="javascript:void(0)" class = "fancyFont password"  class = "_fs20 _fqsand" (click)=" openForgotPasswordModal()"  ><u>Forgot
                              Password?</u></a>
                   
                          </div>



                          <div class="bottom _mt20">
                              <button class="btn _h60 _w50" (click)="tryLogin()" type="submit" [disabled]="!myForm.form.valid">Log In</button>

                              <button class="btn reg _h60 _w50" type="reset" [routerLink]="[ '/register']">sign up </button>

                          </div>

                        </form>
                  </div>

              </div>
          
          <div class="content-outer-info "><br>
            <p style = "color: rgb(252, 250, 252)" class="_loginwith"> LOGIN WITH </p>
            
            <button class="ui facebook button" (click)="tryFacebookLogin()">
              <i class="ui.facebook"></i>
              Facebook
            </button>
           
            <button class="ui twitter button" (click)="tryTwitterLogin()">
              <i class="ui.twitter"></i>
              Twitter
            </button>
            
            <button class="ui google plus button" (click)="tryGoogleLogin()">
              <i class="ui.google"></i>
              Google Plus
            </button>
      
        
          <!--footer-->
            
          <!-- //footer -->
      </div>
  </div>
</div>

<ng-template let-context let-modal="modal" #modalTemplate>
    <div class="header">Reset Password</div>
 <!-- <div class="content">
        <p>{{ context.data }}</p>
    </div> -->  
    <div class="actions">
            <form  [formGroup]="form" >
      <div class="form-w3ls-left-info"> 
         
        <p font size= "6" >Please Enter Your Email</p><br>
      
        <input class="form-control" type="email" placeholder="Email Address" required="" formControlName="email"  required/>
      </div><br>
    
        
        <button class="ui green button" (click)="modal.approve('approved')"[disabled]="form.invalid">OK</button>
        <div *ngIf="form.get('email').pending">
                <img src="https://loading.io/spinners/double-ring/lg.double-ring-spinner.gif" width="50px" alt="">
              </div>
        <button class="ui red button" (click)="modal.deny('denied')">Cancel</button>
    </form>
    </div>
</ng-template>
