<div class="main-top-intro">
  <div class="bg-layer">
      <!-- header -->
      <div class="wrapper">
        <header>
          <div class="header-w3layouts">
              <h1>
                  <a class="navbar-brand logo" href="index.html">
                      Utilizer
                  </a>
              </h1>
          </div>
          <div class="nav_w3pvt">
              <nav>
                  <label for="drop" class="toggle mt-lg-0 mt-2"><span class="fa fa-bars" aria-hidden="true"></span></label>
                  <input type="checkbox" id="drop" />
                  <ul class="menu">
                      <li class="active"><a href="#">Home</a></li>
                      <li class=""><a href="#">About</a></li>
                      <li class=""><a href="#">Services</a></li>
                      <li class="p-0">
                          <!-- First Tier Drop Down -->
                          <label for="drop-2" class="toggle">Pages <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                          <a href="#">Pages <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                          <input type="checkbox" id="drop-2" />
                          <ul class="inner-dropdown">
                              <li><a href="#">Error Page</a></li>
                              <li><a href="#">About Us</a></li>
                              <li><a href="#">Contact Us</a></li>
                          </ul>
                      </li>
                      <li><a href="#">Portfolio</a></li>
                  </ul>
              </nav>
          </div>
          <div class="buttons mt-lg-0 mt-3 ml-auto">
              <div class="form-w3layouts-grid">
                  <form  class="newsletter">
                      <input class="search" type="search" placeholder="" required="">
                      <button class="form-control btn" value=""><span class="fa fa-search"></span></button>
                      <div class="clear"></div>
                  </form>
              </div>
          </div>
          <div class="clear"></div>


      </header>
          <!-- //header -->
          <!---728x90--->

          <div class="content-inner-info">
              <h2> Hello !!!</h2>
              <!---728x90--->

              <div class="content-w3layouts-main">

                  <div class="form-w3ls-left-info">
                      <form class="ui form" [formGroup]="loginForm" [ngClass]="{'loading': isLoading}" #myForm="ngForm">

                          <input class="_h60" type="email" placeholder="Email Address" required="" formControlName="email" />
                          <input class="_h60 _mt10" type="password" placeholder="Password" required="" formControlName="password" />
                          <!--
                            <label class="error">{{errorMessage}}</label>
                            <label class="success">{{successMessage}}</label>
                          -->

                          <div class="links _mt20" fxLayout="row">
                            <a href="javascript:void(0)" class = "_fs20 _fqsand" (click)=" openForgotPasswordModal()"  >Forgot
                              Password?</a>
                   
                          </div>
                          
                         <!--<app-dialog [(visible)]="showDialog">--> 
                       <!--  <div class="form-group" *ngIf="isForgotPassword">
                    -->  

                    <!-- <div class="ui modal transition active visible normal"> 
                       <sui-modal *ngIf="show" [isClosable]="true"  (dismissed)="show = false" #modal>

                      <button type="button" class="btn btn-primary"   (click)="modal.approve()">Get email to reset password</button>
                              <p></p> <p></p> <p></p> <p></p> <p></p> <p></p> <p></p><br>
                              <p></p>
                              <p></p>
                             <p> <button type="button" class="btn"  (click)="modal.deny()"
                              >Cancel</button></p> 
                            </sui-modal>
                          
                          </div> -->
                  
                        <!--  </div> -->
                       <!-- </app-dialog>--> 
                   



                          <div class="bottom _mt20">
                              <button class="btn _h60 _w50" (click)="tryLogin()" type="submit" [disabled]="!myForm.form.valid">Log In</button>

                              <button class="btn reg _h60 _w50" type="reset"><a href="/register" style="text-decoration: none">sign up</a> </button>

                          </div>

                        </form>
                  </div>

              </div>
          
          <div class="content-outer-info ">
            <p class="_login__p"> LOGIN WITH </p>
            
            <button class="ui facebook button" (click)="tryFacebookLogin()">
              <i class="ui.facebook"></i>
              Facebook
            </button>
           
            <button class="ui twitter button" (click)="tryTwitterLogin()">
              <i class="ui.twitter"></i>
              Twitter
            </button>
            
            <button class="ui google plus button" (click)="tryGoogleLogin()">
              <i class="ui.google"></i>
              Google Plus
            </button>
        
          
            <div class="copy-w3layouts-inf">
              <p>© 2019
                  NSSF. All rights reserved |
            
              </p>
              <ul class="list-unstyled w3layouts-icons">
                  <li>
                      <a href="#" class="face-b">
                          <span class="fa fa-facebook-f"></span>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="twit">
                          <span class="fa fa-twitter"></span>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="dribble">
                          <span class="fa fa-dribbble"></span>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="vk">
                          <span class="fa fa-vk"></span>
                      </a>
                  </li>
              </ul>
              <div class="clear"></div>
          </div>
          <!-- //copyright -->
      </div>
  </div>
</div>

<ng-template let-context let-modal="modal" #modalTemplate>
    <div class="header">Reset Password</div>
 <!-- <div class="content">
        <p>{{ context.data }}</p>
    </div> -->  
    <div class="actions">
      <div class="form-w3ls-left-info"> 
          <form class="this-form"  ></form>
        <p >Please Enter Your Email</p><br>
      
        <input class="_h60" type="email" placeholder="Email Address" required="" formControlName="email" />
      </div><br>
    
        <button class="ui red button" (click)="modal.deny('denied')">Cancel</button>
        <button class="ui green button" (click)="modal.approve('approved')" autofocus>OK</button>
    </div>
</ng-template>