.header{
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}
.container{
  background-color: red;
}

.row{
  margin-top: 10px;
}

.error{
  color: red;
}

._social_buttons{
  width: 21% !important
}
