<div class="left-content ui container">
  <div class="inner-content">
 
<!--header begins-->
<div class="header-section">
<!--menu-right-->
<div class="top_menu" style="padding: -9px;">
    
<div class = "topnav">
<input type="text" placeholder="Search..">
</div>
    
<!--/profile_details-->
<div class="profile_details_left" style="font-size: 2em">
    <i class="envelope icon" ></i>
    <i class="bell icon" style ="padding-left: 1.5em"></i>
    <i class="server icon" style ="padding-left: 2em"></i>
</div>
<div class="clearfix"></div>	
<!--//profile_details-->

</div>
<!--//menu-right-->
<div class="clearfix"></div>
</div>
<!-- //header-ends -->

       
<div class="outter-wp">

<!--custom-widgets-->
<div class="custom-widgets">
<div class="row-one">

<!--Students widget-->
<div class="col-md-3 widget">
<div class="stats-left ">
  <h5>Student</h5>
  <h4> Users</h4>
</div>
<div class="stats-right">
  <label>234</label>
</div>
<div class="clearfix"> </div>	
</div>

<!--Mentors widget-->
<div class="col-md-3 widget states-mdl">
<div class="stats-left">
  <h5>Student</h5>
  <h4>Mentors</h4>
</div>
<div class="stats-right">
  <label> 60</label>
</div>
<div class="clearfix"> </div>	
</div>

<!--Career jobs widget-->
<div class="col-md-3 widget states-thrd">
<div class="stats-left">
  <h5>Career</h5>
  <h4>Jobs</h4>
</div>
<div class="stats-right">
  <label>72</label>
</div>
<div class="clearfix"> </div>	
</div>

<!--blogs widget-->
<div class="col-md-3 widget states-last">
<div class="stats-left">
  <h5>Article</h5>
  <h4>Blogs</h4>
</div>
<div class="stats-right">
  <label>109</label>
</div>
<div class="clearfix"> </div>	
</div>

<div class="clearfix"> </div>	

</div>
</div>
<!--//custom-widgets-->

<!--Tables-->
  <!--Students table-->
  <div class="col-md-6 chrt-two">
  <h3 class="sub-title">Student users </h3>

  <table class="ui compact celled definition table" >
  <thead class="full-width">
  <tr>

  <th>Name</th>
  <th>Date of Account creation</th>
  <th>E-mail address</th>
  <th>Gender</th>
  <th>Campus</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let student of students ">

  <td>{{student.full_name}}</td>
  <td>{{student.created_at}}</td>
  <td>{{student.email}}</td>
  <td>{{student.gender}}</td>
  <td>{{student.campus}}</td>
  </tr>
  </tbody>

  <tfoot class="full-width">
  <tr>
  <th colspan="4">
    <button class="ui right floated small primary labeled icon button" [routerLink]="['../students']">
      <i class="user icon"></i> View Students
    </button>
  </th>
  </tr>
  </tfoot>
  </table>

  </div>
  
  <!--students table-->
                         
<!--Mentors table-->
<div class="col-md-6 chrt-three">
<h3 class="sub-title">Mentors </h3>
<table class="ui compact celled definition table">
<thead class="full-width">
  <tr>
    
    <th>Name</th>
    <th>Date of Account creation</th>
    <th>E-mail address</th>
    <th>Profession</th>
  </tr>
</thead>

<tbody>
  <tr *ngFor="let student of students ">
    <td>{{student.full_name}}</td>
    <td>{{student.created_at}}</td>
    <td>{{student.email}}</td>
    <td>{{student.profession}}</td>
  </tr>
</tbody>

<tfoot class="full-width">
<tr>
<th colspan="4">
<button class="ui right floated small primary labeled icon button" [routerLink]="['../Mentors']">
<i class="user icon"></i> View Mentors</button>
</th>
</tr>
</tfoot>
</table>
   <div class="clearfix"> </div>
  </div>
  <!--mentors table-->	
                                           
<!--blog table-->
<div class="col-md-6 chrt-two" >
<h3 class="sub-title">Blog Posts</h3>
    <table class="table table-bordered"> 
    <thead>
    <tr> 
      <th>#</th> <th>First Name</th>
      <th>Last Name</th> 
      <th>User Name</th> 
    </tr> 
    </thead> 
<tbody> 
  <tr> 
  <th scope="row">1</th> 
  <td>Mark</td> 
  <td>Otto</td> 
  <td>@mdo</td> 
</tr>
<tr> 
  <th scope="row">2</th> 
  <td>Jacob</td> 
  <td>Thornton</td> 
  <td>@fat</td> 
</tr> 
<tr> 
  <th scope="row">3</th> 
  <td>Larry</td> 
  <td>the Bird</td> 
  <td>@twitter</td> 
</tr> 
</tbody> 
</table>
</div>
<!--blog table-->
                       
<!--Career opportunities container-->
<div class="col-md-6 tini-time-line">
  <h4 class="sub-title3">Career Opportunities</h4>
  <table class="table"> 
  <thead>
    <tr> 
    <th>#</th> 
    <th>Company</th>
    <th>date of post</th> 
      <th>Link Logo</th> 
  </tr> 
  </thead> 
<tbody> 
<tr> 
<th scope="row">1</th> 
<td>Apple Inc Careers</td> 
<td>07/09/2018</td> 
<td>@mdo</td> 
</tr>
<tr> 
<th scope="row">2</th> 
<td>KPMG</td> 
<td>01/04/2019</td> 
<td>@fat</td> 
</tr> 
<tr> 
<th scope="row">3</th> 
<td>Stanbic Bank</td> 
<td>18/12/2018</td> 
<td>@twitter</td> 
</tr> 
</tbody> 
</table>
  </div>

<div class="clearfix"> </div>
<!--Career opportunities container-->

<!--Reports table-->
<div class="col-md-6 chrt-two">
<h3 class="sub-tittle">Reports</h3>
<table class="table table-bordered">
<thead>
<tr> 
  <th>#</th> 
  <th>First Name</th>
  <th>Last Name</th> 
  <th>User Name</th> 
</tr> 
</thead> 
<tbody> 
  <tr> 
  <th scope="row">1</th> 
  <td>Mark</td> 
  <td>Otto</td> 
  <td>@mdo</td> 
</tr> 
<tr> 
  <th scope="row">2</th> 
  <td>Jacob</td> 
  <td>Thornton</td> 
  <td>@fat</td> 
</tr> 
<tr> 
  <th scope="row">3</th> 
  <td>Larry</td> 
  <td>the Bird</td> 
  <td>@twitter</td> 
</tr> 
</tbody> 
</table>
</div>


<!--Reports table-->
                           
<!--timelines-->
<div class="col-md-6 tini-time-line">
<h3 class="sub-tittle">Time line </h3>
<ul class="timeline">

<li>
<div class="timeline-badge info"><i class="fa fa-smile-o"></i></div>
<div class="timeline-panel">

<div class="timeline-heading">
<h4 class="timeline-title">Task 1</h4>
</div>
<div class="timeline-body">
<p>Description...</p>
</div>

</div>
</li>

<li>
<div class="timeline-badge primary"><i class="fa fa-star-o"></i></div>
<div class="timeline-panel">

<div class="timeline-heading">
<h4 class="timeline-title">Task 2</h4>
</div>
<div class="timeline-body">
<p>Description...</p>
</div>

</div>
</li>

<li>
<div class="timeline-badge danger"><i class="fa fa-times-circle-o"></i></div>
<div class="timeline-panel">

<div class="timeline-heading">
<h4 class="timeline-title">Title</h4>
</div>
<div class="timeline-body">
<p>Description...</p>
</div>

</div>
</li>

<li>
<div class="timeline-badge success"><i class="fa fa-check-circle-o"></i></div>
<div class="timeline-panel">

<div class="timeline-heading">
<h4 class="timeline-title">Title</h4>
</div>
<div class="timeline-body">
<p>Description...</p>
</div>

</div>
</li>
</ul>
</div>
<div class="clearfix"></div>
<!--timelines-->		
                       
                       
  <!--/bottom-grids-->		 
<div class="bottom-grids">
  <div class="dev-table">   

<div class="col-md-4 dev-col">                                    
<div class="dev-widget dev-widget-transparent">
<h3 class="inner one">Server Usage</h3>
<p>Today server usage in percentages</p>                                        
<div class="dev-stat"><span class="counter">68</span>%</div> 

<div class="progress progress-bar-xs">
<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
</div>
</div>                    
<a href="#" class="dev-drop">Take a closer look <span class="fa fa-angle-right pull-right"></span></a>
</div>
</div>

<div class="col-md-4 dev-col mid">                                    
<div class="dev-widget dev-widget-transparent dev-widget-success">
<h3 class="inner">New Users</h3>
<p>These are the new users as per today</p>                                        
  <div class="dev-stat"><span class="counter">75,332</span></div>                                                                                
    <div class="progress progress-bar-xs">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 79%;"></div>
    </div>           

  <a href="#" class="dev-drop">Take a closer look <span class="fa fa-angle-right pull-right"></span></a>
  </div>
</div>

<div class="col-md-4 dev-col">                                    
<div class="dev-widget dev-widget-transparent dev-widget-danger">
<h3 class="inner">Your Balance</h3>
  <p>All your earnings for this time</p>
  <div class="dev-stat">$<span class="counter">5,321</span></div>                                                                                
    <div class="progress progress-bar-xs">
    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
    </div>                                        
<p>You can withdraw this money in end of each month. Also you can spend it on our marketplace.</p>

<a href="#" class="dev-drop">Take a closer look <span class="fa fa-angle-right pull-right"></span></a>                                        
  </div>
</div>

  <div class="clearfix"></div>		
  
  </div>
  </div>
<!--//bottom-grids-->


</div>
     
 </div>
   
 </div>