<!--
<div class="col col-md-8">
<form class="create-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="Name" class="form-control" formControlName="full_name">
    </mat-form-field>
    
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="User name" class="form-control" formControlName="username">
    </mat-form-field>
    
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="Upload Image" class="form-control" formControlName="image">
    </mat-form-field>
    
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="University" class="form-control" formControlName="university">
    </mat-form-field>
    
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="campus" class="form-control" formControlName="campus">
    </mat-form-field>
    
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="Course" class="form-control" formControlName="course">
    </mat-form-field>
    
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="Date of Birth" class="form-control" formControlName="dob">
    </mat-form-field>
    
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="role" class="form-control" formControlName="role">
    </mat-form-field>
    
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="Date Joined University" class="form-control" formControlName="date_joined">
    </mat-form-field>
    
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="Email" class="form-control" formControlName="email">
    </mat-form-field>
    
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="Gender" class="form-control" formControlName="gender">
    </mat-form-field>
    
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="Interests" class="form-control" formControlName="interests">
    </mat-form-field>
    
  </div>

  <div class="form-group">
    <mat-form-field class="input-style">
      <input matInput placeholder="Approve" class="form-control" formControlName="is_approved">
    </mat-form-field>
    
  </div>

  <div class="row submit-button-container">
    <div class="col-md-4">
      <button mat-raised-button class="submit-button" color="primary" type="submit">Create</button>
    </div>
  </div>

</form>

</div>
-->
<page-user></page-user>