
<app-header></app-header>
<div class="main-top-intro" (scroll)="onWindowScroll($event);">
  <div class="bg-layer">
   <div class="terms">
  
        <div class="container">
            <h1 class="xlarge-font">Partners</h1>
         
            <!--section one-->
          <div class="row">
            <div class="col-md-6">
                <div class="probootstrap-service-2 probootstrap-animate">
                <div class="image">
                  <div class="image-bg">
                    <img src="../assets/images/postbank.jpg" alt="postbank">
                  </div>
                </div>
                    <div class="text">
                      <span class="enrolled-count">Empowering You</span>
                      <a href="https://www.postbank.co.ug/" target="_blank"><button class="ui primary button">Apply Now</button></a>
                   </div>
              </div>
            </div>
              
            <div class="col-md-6">
              <div class="probootstrap-service-2 probootstrap-animate">
                <div class="image">
                  <div class="image-bg">
                    <img src="../assets/images/dembe.jpg" alt="Dembe">
                  </div>
                </div>
                <div class="text">
                    <span class="enrolled-count">Omuziki Nebikuzimba</span>
                    <a href="http://www.dembefm.ug/" target="_blank"><button class="ui primary button">Apply Now</button></a>
                 </div>
              </div>
            </div>
          </div>
            













                  <!--section two-->  

            <div class="row">
            <div class="col-md-6">
              <div class="probootstrap-service-2 probootstrap-animate">
                <div class="image">
                  <div class="image-bg">
                    <img src="../assets/images/dfcu.jpg" alt="dfcu">
                  </div>
                </div>
                <div class="text">
                    <span class="enrolled-count">With Pleasure</span>
                    <a href="http://www.dfcugroup.com/" target="_blank"><button class="ui primary button">Apply Now</button></a>
                 </div>
              </div>
              
                    
              <div class="probootstrap-service-2 probootstrap-animate">
                <div class="image">
                  <div class="image-bg">
                    <img src="../assets/images/kcca.png" alt="kcca">
                  </div>
                </div>
                <div class="text">
                    <span class="enrolled-count">For A Better City</span>
                    <a href="https://www.kcca.go.ug/" target="_blank"><button class="ui primary button">Apply Now</button></a>
                 </div>
              </div>

            </div>
              
            <div class="col-md-6">
                
               
              <div class="probootstrap-service-2 probootstrap-animate">
                <div class="image">
                  <div class="image-bg">
                    <img src="../assets/images/kfm.jpg" alt="kfm">
                  </div>
                </div>
                <div class="text">
                    <span class="enrolled-count">Better Information</span>
                    <a href="http://kfm.co.ug/" target="_blank"><button class="ui primary button">Apply Now</button></a>
                 </div>
              </div>
                

              <div class="probootstrap-service-2 probootstrap-animate">
                <div class="image">
                  <div class="image-bg">
                    <img src="../assets/images/mtn.jpg" alt="MTN">
                  </div>
                </div>
                <div class="text">
                    <span class="enrolled-count">Closing</span>
                    <a href="https://www.mtn.co.ug/en/Pages/default.aspx" target="_blank"><button class="ui primary button">Apply Now</button></a>
                 </div>
              </div>
            </div>
          </div>





            <!--section three-->
          <div class="row">
              <div class="col-md-6">
                <div class="probootstrap-service-2 probootstrap-animate">
                  <div class="image">
                    <div class="image-bg">
                      <img src="../assets/images/monitor.jpg" alt="monitor">
                    </div>
                  </div>
                  <div class="text">
                      <span class="enrolled-count">Truth everyday</span>
                      <a href="http://www.monitor.co.ug/" target="_blank"><button class="ui primary button">Apply Now</button></a>
                   </div>
                </div>
                  
                      
                    
                <div class="probootstrap-service-2 probootstrap-animate">
                  <div class="image">
                    <div class="image-bg">
                      <img src="../assets/images/icea.jpg" alt="icea">
                    </div>
                  </div>
                  <div class="text">
                      <span class="enrolled-count">General Insurace</span>
                      <a href="https://www.icealion.com/" target="_blank"><button class="ui primary button">Apply Now</button></a>
                   </div>
                </div>
              </div>
                


              <div class="col-md-6">
                  
                    <div class="probootstrap-service-2 probootstrap-animate">
                    <div class="image">
                      <div class="image-bg">
                        <img src="../assets/images/pwc.png" alt="pwc">
                      </div>
                    </div>
                   <div class="text">
                      <span class="enrolled-count">Learning & Development Manager</span>
                      <a href="https://www.pwc.com/ug/en.html" target="_blank"><button class="ui primary button">Apply Now</button></a>
                   </div>
                  </div>
                    
  
                
                    <div class="probootstrap-service-2 probootstrap-animate">
                      <div class="image">
                        <div class="image-bg">
                          <img src="../assets/images/acca.png" alt="acca">
                        </div>
                      </div>
                      <div class="text">
                      <span class="enrolled-count">Think Ahead</span>
                      <a href="http://yourfuture.accaglobal.com/global/en.html" target="_blank"><button class="ui primary button">Apply Now</button></a>
                   </div>
                    </div>
              </div>
            </div>
  
  
    <!--section four-->
    <div class="row">
        <div class="col-md-6">
          <div class="probootstrap-service-2 probootstrap-animate">
            <div class="image">
              <div class="image-bg">
                <img src="../assets/images/stanbic.jpg" alt="stanbic">
              </div>
            </div>
            <div class="text">
                <span class="enrolled-count">A Member of Standard Bank Group</span>
                <a href="https://www.stanbicbank.co.ug/" target="_blank"><button class="ui primary button">Apply Now</button></a>
             </div>
          </div>
            
                
              
          <div class="probootstrap-service-2 probootstrap-animate">
            <div class="image">
              <div class="image-bg">
                <img src="../assets/images/makerere.jpg" alt="makerere">
              </div>
            </div>
            <div class="text">
                <span class="enrolled-count">We Build for the Future</span>
                <a href="https://www.mak.ac.ug/" target="_blank"><button class="ui primary button">Apply Now</button></a>
             </div>
          </div>
        </div>
          


        <div class="col-md-6">
            
              <div class="probootstrap-service-2 probootstrap-animate">
              <div class="image">
                <div class="image-bg">
                  <img src="../assets/images/ucc.jpg" alt="ucc">
                </div>
              </div>
             <div class="text">
                <span class="enrolled-count">Communications for all</span>
                <a href="https://www.ucc.co.ug/" target="_blank"><button class="ui primary button">Apply Now</button></a>
             </div>
            </div>
              

          
              <div class="probootstrap-service-2 probootstrap-animate">
                <div class="image">
                  <div class="image-bg">
                    <img src="../assets/images/nssf.jpg" alt="nssf">
                  </div>
                </div>
                <div class="text">
                <span class="enrolled-count">a better life</span>
                <a href="https://www.nssfug.org/25/Opportunities/Internship" target="_blank"><button class="ui primary button">Apply Now</button></a>
             </div>
              </div>
        </div>
      </div>

  

    </div>
  </div>
</div>
<!-- footer -->
<app-footer></app-footer>
