<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    


      <!---first input-->
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>CHOOSE</ng-template>
        
        <button class="ui secondary button">
           I AM A STUDENT
        </button>

        <button class="ui secondary button">
         I AM A MENTOR
        </button>


        
        
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    


  
      <!---second input-->
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>STUDENT DETAILS</ng-template>
      
        <h4 class="ui dividing header">Bio Data</h4>
        
        <div class="ui form">
          <div class="three fields">
            <div class="field">
              <label>First name</label>
              <input type="text" placeholder="First Name">
            </div>
            <div class="field">
              <label>Last name</label>
              <input type="text" placeholder="Last Name">
            </div>
            <div class="field">
              <label>Email</label>
              <input type="text" placeholder="Email">
            </div>
          </div>
        </div>
        
        <div class="ui form">
        <div class="two fields">
          <div class="field">
            <label>Gender</label>
            <input type="text" placeholder="Gender">
          </div>
          <div class="field">
            <label>University</label>
            <input type="text" placeholder="University">
          </div>
          </div>
        </div>

        <div class="ui form">
            <div class="two fields">
              <div class="field">
                <label>Course Of Study</label>
                <input type="text" placeholder="Course Of Study">
              </div>
              <div class="field">
                  <label>Year Of Joining</label>
                  <input type="text" placeholder="Year">
                </div>
              </div>
            </div>

        <h4 class="ui dividing header">Interests</h4>
           <div class="field">
            <label>Select</label>
            <div class="ui fluid multiple search selection dropdown">
              <input type="hidden" name="receipt">
              <i class="dropdown icon"></i>
              <div class="default text">Select From</div>
             
            </div>
          </div>
          <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    
    

    <!---third input-->
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>MENTOR DETAILS</ng-template>
        
        
        <form class="ui form">
          <h4 class="ui dividing header">Bio Data</h4>
          <div class="ui form">
              <div class="two fields">
                <div class="field">
                  <label>First name</label>
                  <input type="text" placeholder="First Name">
                </div>
                <div class="field">
                  <label>Last Name</label>
                  <input type="text" placeholder="Last Name">
                </div>
              </div>
            </div>
            

          <div class="ui form">
            <div class="field">
              <label>Age</label>
              <input type="text" placeholder="Age">
            </div>
          </div>


      
      
          <h4 class="ui dividing header">Place Of Work</h4>
          <div class="ui form">
              <div class="four fields">
                <div class="field">
                  <label>Location</label>
                  <input type="text" placeholder="Location">
                </div>
                <div class="field">
                  <label>Company</label>
                  <input type="text" placeholder="Company">
                </div>
                <div class="field">
                    <label>Title At Place Of Work</label>
                    <input type="text" placeholder="Title">
                </div>
                    <div class="field">
                        <label>Duration At Place Of Work</label>
                        <input type="text" placeholder="Duration">
                      </div>
                  
                </div>
              </div>
      
          
           
            
            
          
           <h4 class="ui dividing header">Skills</h4>
           <div class="field">
            <label>Select</label>
            <div class="ui fluid multiple search selection dropdown">
              <input type="hidden" name="receipt">
              <i class="dropdown icon"></i>
              <div class="default text">Select From</div>
             
            </div>
          </div>
        </form>
        
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    
    

      <!---fourth input-->
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>USER PROFILE</ng-template>
        
          <section class="container">
              <section class="wrapper">
                <header>
                  
                  <h1> update profile picture </h1>
                </header>
                <section class="main-content">
                      <div class="profile-img-content">
                          <div class="profile-img">
                            <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjEzMjA0ODk1OF5BMl5BanBnXkFtZTcwMTA4ODM3OQ@@._V1_UY256_CR5,0,172,256_AL_.jpg" alt="User avatar">
                        </div>
                     </div>
                     <div class="ui form">
                         <div class="field">
                           <label>IMAGE</label>
                           <input type="file">
                         </div>
                     </div>
                    <div class="ui form">
                        <div class="field">
                          <label>USER NAME</label>
                          <input type="text" placeholder="Username">
                        </div>
                    </div>
                </section>
                <footer>
                  <button class="next">Next</button>
                  <button class="follow">Follow</button>
                </footer>
              </section>
          </section>



















          
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
    
    
  
      <!---fifth input-->
    <mat-step>
      <ng-template matStepLabel>DONE</ng-template>
      You are now done. Thank You!!!
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>