.header{
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.row{
  margin-top: 10px;
}

.image {
  width:265px;
}

.name{
color: white;
font-size: 20px;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.material-icon{
  cursor:pointer;
}
img{
  border-radius: 15px;
}

