<div class="page-container" style="float: right;">

  <router-outlet></router-outlet>

  <!--footer section-->
  <footer>
    <p> &Copy 2019 NSSF. All Rights Reserved</p>
  </footer>
  <!--footer section end-->


  <div class="content" fxLaypout="column" fxFlex>
    <!--/sidebar-menu-->
    <div class="sidebar-menu">

      <header class="logo">
        <span id="logo">
          <h1>ADMIN</h1>
        </span>
        <!--<img id="logo" src="" alt="Logo"/>-->
      </header>

      <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
      <!--/down-->
      <div class="down">
        <img src="../../assets/images/in2.jpg">
        <span class=" name-caret">Deborah Aanyu</span>
        <p>System Administrator, NSSF</p>
        <ul>

          <li><i class="user icon"></i><br>Profile</li>
          <li><i class="sun outline icon"></i><br>Settings</li>
          <li><i class="power off icon"></i><br>Log out</li>
          
        </ul>
      </div>

      <!--//down-->
      <div class="menu">
        <ul id="menu">

          <li>
            <a [routerLink] = "['/dashboard/Overview']"><i class="eye icon"></i> 
              <span>Overview</span>
            </a>
          </li>
        
          <li id="menu-academico">
            <a  [routerLink] = "['/dashboard/students']" ><i class="users icon"></i>
              <span> Students</span> 
            </a>
          </li>
        
          <li id="menu-academico">
            <a [routerLink] = "['/dashboard/Mentors']"><i class="user md icon"></i>
              <span>Mentors</span>
            </a>
          </li>
        
          <li>
            <a [routerLink] = "['/dashboard/careerjobs']"><i class="briefcase icon"></i> 
              <span>Careerjobs</span>
            </a>
          </li>

          <li id="menu-academico">
            <a [routerLink] = "['/dashboard/Blogs']"><i class="newspaper outline icon"></i>
              <span>Blogs</span>
            </a>
          </li>
              
          <li id="menu-academico">
            <a><i class="fa fa-calendar" aria-hidden="true"></i>
              <span>Events</span>
            </a>
            <ul id="menu-academico-sub" >
              <li id="menu-academico-avaliacoes" ><a [routerLink] = "['/dashboard/events']">View Events</a></li>
              <li id="menu-academico-boletim" ><a [routerLink] = "['/dashboard/add-event']">Add Event</a></li>
            </ul>
          </li>
              
          <li id="menu-academico">
            <a><i class="fa fa-handshake-o" aria-hidden="true"></i>
              <span>Partners</span>
            </a>
            <ul id="menu-academico-sub" >
              <li id="menu-academico-avaliacoes" ><a [routerLink] = "['/dashboard/partners']">View partners</a></li>
              <li id="menu-academico-boletim" ><a [routerLink] = "['/dashboard/add-partner']">Add partner</a></li>
            </ul>
          </li>

          <li>
            <a [routerLink] = "['/dashboard/imagesvideos']"><i class="image icon"></i>
              <span>Media</span>
            </a>
          </li>
          
          <li id="menu-academico">
            <a [routerLink] = "['/dashboard/reports']"><i class="paste icon"></i>
              <span>Reports</span>
            </a>
          </li>
          
          <li id="menu-academico">
            <a [routerLink] = "['/dashboard/reports']"><i class="lnr lnr-layers"></i>
              <span>Reports</span>
            </a>
          </li>
            <!-- </li> -->
            <!--for now, the add section option will redirect you to overview-->
          <li id="menu-comunicacao">
            <a [routerLink] = "['/dashboard/AddSection']"><i class="fa fa-smile-o"></i>
              <span>Add Section</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--sidebar-menu-->
  </div>

</div>
