@import '~ngx-toastr/toastr.css';
@import '~bootstrap/dist/css/bootstrap.css';

/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap');


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


$base-font-size:1em;
$base-blue:#4cc2c4;

._bg-base{
  background: $base-blue !important;
}

._fqsand{
  font-family: 'quicksand' !important
}
._fthick{
  font-weight:600 !important
}
._fs20{
  font-size: $base-font-size + 0.5 !important;
}

._h60{
  height: 60px !important;
}

._lspace05{
  letter-spacing: 0.5px !important;
}


._mt10{
  margin-top: 10px !important
}

._mt20{
  margin-top: 20px !important
}

._mt30{
  margin-top: 30px !important
}

._pt10{
  padding-top: 10px !important;
}

._pt20{
  padding-top: 20px !important;
}

._mb10{
  margin-bottom: 10px !important;
}

._mb20{
  margin-bottom: 20px !important;
}

._ml0{
  margin-left: 0 !important;
}

._ml10{
  margin-left: 10px !important;
}

._ml20{
  margin-left: 20px !important;
}

._mt20{
  margin-top: 20px !important;
}

._mt30{
  margin-top: 30px !important;
}

._mt50{
  margin-top: 50px !important;
}

.password{
  letter-spacing: 1px;
  font-size: 13px

}

._p030{
  padding: 0 30px !important;
}
._tuppercase{
  text-transform: uppercase !important;
}

._tcenter{
  text-align: center !important;
}

._tdark{
  color: black !important
}

._loginwith{
  padding-top: 30px;
  padding-bottom: 15px;
}

._registerr{
  padding-top: 15px;
  padding-bottom: 15px;
}

.inputs{
  padding-top:10px
}

._w30{
  width: 30% !important;
}

._w40{
  width: 40% !important;
}

._w50{
  width: 49% !important;
}

.sticky {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  background-color:rgba(5, 5, 5, 0.527);
}

.fancyFont {
  font-family: 'Montserrat';
  font-weight: 500;
}

.imagebox {
  background: black;
  padding: 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.imagebox img {
  opacity: 1;
  transition: 0.5s opacity;
}

.imagebox .imagebox-desc {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0px;
  color: white;
  font-size: 1.2em;
  left: 0px;
  padding: 10px 15px;
  position: absolute;
  transition: 0.5s padding;
  text-align: center;
  width: 100%;
}

.imagebox:hover img {
  opacity: 0.7;
}

.imagebox:hover .imagebox-desc {
  padding-bottom: 10%;
}


