<!-- header -->
<app-header></app-header>
<div class="main-top-intro" (scroll)="onWindowScroll($event);">
  <div class="bg-layer">
    <div class="terms" style="color: black">
        <h3>TERMS OF USE</h3>
        <hr>
        <dl>
          <dt><h4>Background</h4></dt>
          <dd>
            <p>
              NSSF developed a 10-year business strategy where it envisions to become “the social security provider of choice”. 
              Meeting that strategy requires among others the development of innovative products to make NSSF a market leader.
            </p>
            <p>
              NSSF has accordingly developed an innovation policy intended to:
            </p>
            <ol class="olul" type="a">
              <li>Transform the culture of the Fund to one that is genuinely innovative and performance-driven</li>
              <li>Generate a continuous flow of creative and high-quality ideas.</li>
              <li>Significantly increase the internal capacity to implement Fund innovations faster and more effectively.</li>
            </ol>
            <p>
              In pursuance of that policy NSSF invites proposals for innovative ideas that will propel the Fund into realizing its strategic objectives.
              Innovations will be submitted via a portal on the NSSF website subject to the terms and conditions below:
            </p>

          </dd>
          <dt>Registration and Use of the NSSF Innovation Portal</dt>
          <dd>
            <p>
              Participants will be required to register (by providing a name, email address and password) and to login after agreeing to these Terms and Conditions.
            </p>
            <p>
              Participants should have attained the majority age of eighteen (18) years. 
              Provided that participants under the age of 18 years may participate with the consent of someone in loco parentis to them.
            </p>
          </dd>
          <dt>Idea Protection</dt>
          <dd>
            <p>
              NSSF recognizes that novel, non-obvious and useful product ideas and inventions have value and could lead to commercial success and therefore requires that you protect your idea/prototype/solution before submitting on the NSSF Innovation Portal. 
              Ideas may be protected via a patent, registered design, trademark or a copyright. 
              Any idea that is submitted without protection is at your own peril.
            </p>
          </dd>
          <dt>No Confidentiality</dt>
          <dd>
            <p>
              No information or subject matter which you submit on the NSSF portal will be considered to be treated as confidential. 
              By making a submission to the NSSF innovation portal you hereby consent to the disclosure of that submission by NSSF to:
            </p>
            <ol class="olul" type="a">
              <li>Any of its affiliates or any third parties or consultants for the purposes of implementation or development and Go to Market;</li>
              <li>Any regulator, supervisor, government body, quasi-governmental authority with jurisdiction over NSSF or its affiliates; or</li>
              <li>
                Any person to whom NSSF is required or authorized by law or a court order to make such disclosure; Notwithstanding the above, 
                NSSF accepts no liability whatsoever to you for any submission made and any resultant disclosure thereof.
              </li>
            </ol>
          </dd>
          <dt>Idea Submission</dt>
          <dd>
            <p>
              Upon registration you will follow the links on NSSF Innovation portal to submit your idea. 
              On submission, your idea will be screened for suitability in accordance with NSSF’s business objectives. 
              Screening will be conducted by a team of NSSF cross functional experts after which your submission will be accepted or rejected. 
              NSSF has no obligation to give reasons for the acceptance or decline of any ideas submitted on the NSSF Innovation Portal.
            </p>
            <p>
              NSSF shall only accept ideas that relate to its business strategy.
            </p>
            <p>
              NSSF’s receipt of your submission does not imply any promise to pay or compensate you for your submission nor is it a recognition of the alleged novelty, 
              originality or usefulness of your idea nor does it establish any relationship which might require NSSF to compensate you for the evaluation of the information disclosed in the submission. 
              NSSF may however facilitate further development of the idea at a reasonable fee.
            </p>
          </dd>
          <dt>Novelty</dt>
          <dd>
            <p>
              You understand and acknowledge that other users of NSSF Innovation portal may have already submitted identical or similar ideas to NSSF, 
              or your idea may not be novel, or may already be under internal development by NSSF. 
              Accordingly, you denounce and waive any right in the future to make or lodge any claims against NSSF or any of its affiliates on the basis 
              of alleged copying or infringement of your idea and any materials previously accepted or used by NSSF. 
            </p>
          </dd>
          <dt>Right or License to Use</dt>
          <dd>
            <p>
              By submitting your idea to NSSF Innovation portal you irrevocably grant NSSF, 
              the unrestricted right or license to use any idea or material you submit for the purpose of improving it, 
              assessing its viability and determining its progression to the next stage within the Innovation Cycle. 
              Such use by NSSF shall not be deemed a violation of your rights or the rights of any third party or give rise to any claim based on such alleged violation. . 
            </p>
            <p>
              Should NSSF choose to discuss any idea submitted further, 
              such discussion shall be on a “without prejudice” basis and will be subject to a Non -Disclosure Agreement or 
              such other definitive contracts as NSSF may in its discretion determine. 
            </p>
          </dd>
          <dt>Disclaimer and Indemnity</dt>
          <dd>
            <p>
              You are responsible for the content of any ideas which you post on NSSF Innovation Portal. 
              NSSF does not warrant or guarantee the accuracy, reliability, completeness, usefulness, non-infringement 
              of intellectual property or quality of any ideas posted by you on NSSF Innovation Portal.
            </p>
            <p>
              You shall, at your own expense, fully indemnify NSSF from and against all and any loss, damage, liability, including costs and expenses 
              which NSSF may at any time incur, sustain, suffer or be subjected to as a consequence of the content of any idea submitted by you on 
              NSSF Innovation Portal including any claims made by any third party with regard to the form or substance of any idea you submit.
            </p>
            <p>
              You hereby undertake to give NSSF prompt written notice of any claim (including third party claims) or other matters to which you believe 
              this indemnification provision may be applicable. 
            </p>
          </dd>
          <dt>Limitation of Liability</dt>
          <dd>
            <p>
              NSSF shall not be liable in contract, tort or otherwise for any direct, indirect or consequential loss or damage sustained
               by you or any third party as a result of any direct or indirect use of or reliance on the electronic communication 
               orders or messages sent via NSSF Innovation Portal including but not limited to any loss or damage resulting from any defects 
               delays interruptions errors inaccuracies or failures in the various communications. Any loss of data or material resulting from 
               delays, non- deliveries, missed deliveries, suspension or withdrawal of all or part of NSSF Innovation portal at any time. 
               The removal from NSSF Innovation portal of any material sent or posted by you on or via the portal and or the blocking or suspension 
               of your access to NSSF Innovation portal or any part of it in accordance with these terms. 
            </p>
            <p>
              NSSF’S maximum liability under these terms and conditions if any for all claims 
              howsoever arising shall be limited to a maximum of UGX……………….only. 
            </p>
          </dd>
          <dt>Assurance of Intellectual Property</dt>
          <dd>
            <p>
              You hereby warrant to NSSF that you are the genuine creator/originator of the idea and/or the owner of all intellectual property rights comprised 
              in the idea (if any) and where applicable possess all the necessary rights and permissions to submit the idea to NSSF and that your submission does 
              not violate the rights of any third party or any applicable law.  
            </p>
            <p>
              You further warrant that no claim of infringement of any patent, copyright, trade mark, trade secret or other intellectual property rights in respect of the idea has been threatened or asserted, 
              nor is a claim for such infringement pending against you or any of your agents, or to the best of the your knowledge, any entity from which you have obtained such rights. 
            </p>
            <p>
              Any use of NSSF’s intellectual property in the idea does not imply a waiver of any rights with regard to the ownership and use of the intellectual property.
            </p>
          </dd>
          <dt>Compensation</dt>
          <dd>
            <p>
              You understand and accept that NSSF is under no obligation to compensate you for the submission of the idea unless the idea is approved and adopted by NSSF upon 
              successful completion of each of the idea submission stages in NSSF Innovation Portal and the terms of compensation will be captured in the contract to be signed 
              thereafter.   
            </p>
          </dd>
          <dt>General Release</dt>
          <dd>
            <p>
              You hereby release and hold harmless NSSF, its affiliates entities, employees, directors, officers, licensees and assigned and respective designees (“NSSF entities”) 
              with respect to any claims, damages, costs, losses and expenses including legal fees due to or arising out of the content you submit, post, transmit or make available through NSSF Innovation portal, 
              the use of such content by NSSF Entities for any purpose, your use of NSSF Innovation Portal, your violation of these Terms and Conditions or NSSF’s website’s Terms and Conditions or the violation by 
              you or NSSF entities of yours or any third party’s rights including without limitation, intellectual property or other proprietary rights of privacy and publicity, rights of attribution or any other 
              liability, direct or indirect, vicarious, contributory or otherwise.    
            </p>
          </dd>
          <dt>Restriction on Content</dt>
          <dd>
            <p>
              By participating in NSSF Innovation including the posting of content and commentary, you agree that you will not upload, post or transmit 
              any content (including text, links, communications, software, images, sounds, data or other information ) that:   
            </p>
            <ol class="olul" type="a">
              <li>
                Is not consistent with the permissible uses outlined in the Terms and Conditions of NSSF’ s website including by not limited to content that is harmful, threatening, abusive, harassing, defamatory, libelous, 
                invasive of another’s privacy, vulgar, profane, sexually explicit, obscene, racially or ethnically offensive or otherwise objectionable;
              </li>
              <li>Infringes on any patent, trademark, trade secret, copyright or other proprietary rights of any party;</li>
              <li>
                Constitutes advertising or promotion, junk mail, “spamming”, chain letters or any other form of unauthorized solicitation that connects to commercial websites that 
                will not be considered unauthorized solicitations unless the link or website consent appears to be intended as a means of solicitation as determined by NSSF in its sole discretion;
              </li>
              <li>
                Contains software viruses, Trojan horses, worms, time bombs, cancelbots or any other computer code or files that will disrupt, damage or limit the functioning of any 
                software or hardware including the use of NSSF’s website;
              </li>
              <li>
                Provides any non- public information about NSSF or any other company or person without proper authorization and includes providing names, 
                addresses and extension numbers of NSSF’s employees or any of its subscribers, 
              </li>
              <li>
                Intentionally interferes with the operation of NSSF’s website without limitation, mail bombing, news bombing other flooding techniques, 
                deliberate attempts to overload a system and broadcast attack to avoid messaging blocking; 
              </li>
              <li>Impersonates any person or entity including anyone in NSSF’s employment.</li>
              <li>Attacks or insults another NSSF Innovation Portal user or site manager; .</li>
              <li> Suggests or encourages illegal activity; or</li>
              <li>In any way Violates Ugandan law.</li>
            </ol>
          </dd>
          <dt>Governing Law and Dispute Resolution</dt>
          <dd>
            <p>
              These terms and Conditions shall be governed in accordance with the Laws of Uganda. 
              The parties agreed that all legal proceedings in connection with the enforcement, construction, interpretation, 
              breach or violation of this agreement shall be settled amicably, failure of which the matter shall be referred 
              to a competent court of law in Uganda.   
            </p>
          </dd>
        </dl> 

    </div>
  </div>
</div>
<!-- footer -->
<app-footer></app-footer>
