<!-- header -->
<app-header></app-header>
<div class="main-top-intro" (scroll)="onWindowScroll($event);">
  <div class="bg-layer">
    <div class="terms">
        <p>
            ERMS OF USE
            Background
            NSSF developed a 10-year business strategy where it envisions to become “the social security provider of choice”. Meeting that strategy requires among others the development of innovative products to make NSSF a market leader.
            
            NSSF has accordingly developed an innovation policy intended to:
            
                (a) Transform the culture of the Fund to one that is genuinely innovative and performance-driven
                (b) Generate a continuous flow of creative and high-quality ideas.
                (c) Significantly increase the internal capacity to implement Fund innovations faster and more effectively.
            
            In pursuance of that policy NSSF invites proposals for innovative ideas that will propel the Fund into realizing its strategic objectives. Innovations will be submitted via a portal on the NSSF website subject to the terms and conditions below:
            
            1. Registration and Use of the NSSF Innovation Portal
            
                1.1 Participants will be required to register (by providing a name, email address and password) and to login after agreeing to these Terms and Conditions.
                1.2 Participants should have attained the majority age of eighteen (18) years. Provided that participants under the age of 18 years may participate with the consent of someone in loco parentis to them. 
            
            2. Idea Protection
            
            NSSF recognizes that novel, non-obvious and useful product ideas and inventions have value and could lead to commercial success and therefore requires that you protect your idea/prototype/solution before submitting on the NSSF Innovation Portal. Ideas may be protected via a patent, registered design, trademark or a copyright. Any idea that is submitted without protection is at your own peril.
            
            3. No Confidentiality
            
        </p>

    </div>
  </div>
</div>
<!-- footer -->
<app-footer></app-footer>
