<app-header></app-header>
<div class="main-top-intro" (scroll)="onWindowScroll($event);">
  <div class="bg-layer">
    

       <!-- <div>
    
    <ngb-carousel *ngIf="images">
  
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
    
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide">
          </div>
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
    
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide">
          </div>
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </ng-template>
    
      </ngb-carousel>
      
  
  </div> -->

                   <!--Events-->
            <div class="terms">
              <div id="slide1" class="slide">
                  <h1 class="xlarge-font"><b>Events</b></h1>
                  <ul class="grid">
                      <li>
                        <figure class="grid__figure">
                          <img src="https://mdbootstrap.com/img/Photos/Others/img (36).jpg" alt="">
                          <figcaption>Vehicula Quam NibhVehicula Quam NibhVehicula Quam Nibh</figcaption>
                        </figure>
                      </li>
                      <li>
                        <figure class="grid__figure">
                          <img src="https://mdbootstrap.com/img/Photos/Others/img (34).jpg" alt="">
                          <figcaption>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla.</figcaption>
                        </figure>
                      </li>
                      <li>
                        <figure class="grid__figure">
                          <img src="https://picsum.photos/200/300/?random" alt="">
                          <figcaption>Parturient Mollis Malesuada Tristique Inceptos.</figcaption>
                        </figure>
                      </li>
                      <li>
                          <figure class="grid__figure">
                            <img src="https://picsum.photos/200/300/?random" alt="">
                            <figcaption>Parturient Mollis Malesuada Tristique Inceptos.</figcaption>
                          </figure>
                        </li>
                        <li>
                            <figure class="grid__figure">
                              <img src="https://picsum.photos/200/300/?random" alt="">
                              <figcaption>Parturient Mollis Malesuada Tristique Inceptos.</figcaption>
                            </figure>
                          </li>
                      <li>
                        <figure class="grid__figure">
                          <img src="https://picsum.photos/400/200/?random" alt="">
                          <figcaption>Vehicula Quam NibhVehicula Quam NibhVehicula Quam Nibh</figcaption>
                        </figure>
                      </li>
                      <li>
                          <figure class="grid__figure">
                            <img src="https://picsum.photos/200/300/?random" alt="">
                            <figcaption>Vehicula Quam NibhVehicula Quam NibhVehicula Quam Nibh</figcaption>
                          </figure>
                        </li>
                        <li>
                            <figure class="grid__figure">
                              <img src="https://mdbootstrap.com/img/Photos/Others/img (36).jpg" alt="">
                              <figcaption>Vehicula Quam NibhVehicula Quam NibhVehicula Quam Nibh</figcaption>
                            </figure>
                          </li>
                    </ul>
              </div>


                    <!--Blogs-->
              <div id="slide2" class="slide">
                  <h1 class="xlarge-font"><b>Blogs</b></h1>
                  <div class="band">
 
                      <!-- grid item, containing a card -->
                      <div class="item-1">
                            <a href="" class="card">
                              <div class="thumb" style="background-image: url('../assets/images/technology.jpeg');"></div>
                              <article>
                                <h1>Technology</h1>
                                 <!--<span>Author</span>-->
                                <p>
                                      What is Lorem Ipsum?
                                      What is Lorem Ipsum? What is Lorem Ipsum? What is Lorem Ipsum? What is Lorem Ipsum?
                                      What is Lorem Ipsum? What is Lorem Ipsum? What is Lorem Ipsum?
                                      What is Lorem Ipsum? What is Lorem Ipsum? What is Lorem Ipsum?
                                      ldus PageMaker including versions of Lorem Ipsum.
                                </p>
                              </article>
                            </a>
                      </div>
                       
                      <!-- grid item, containing a card -->
                      <div class="item-2">
                              <a href="" class="card">
                                      <div class="thumb" style="background-image: url('../assets/images/education.jpeg');"></div>
                                      <article>
                                        <h1>Education</h1>
                                        <!-- <span>Author</span>-->
                                        <p>
                                              What is Lorem Ipsum?
                                              What is Lorem Ipsum?
                                              ldus PageMaker including versions of Lorem Ipsum.What is Lorem Ipsum?
                                              ldus PageMaker including versions of Lorem Ipsum.What is Lorem Ipsum?
                                              ldus PageMaker including versions of Lorem Ipsum.
                                              ldus PageMaker including versions of Lorem Ipsum.
                                        </p>
                                      </article>
                              </a>
                      </div>
                       
                      <!-- grid item, containing a card -->
                      <div class="item-3">
                              <a href="" class="card">
                                      <div class="thumb" style="background-image: url('../assets/images/business-1031754_640.jpg');"></div>
                                      <article>
                                        <h1>Business</h1>
                                         <!--<span>Author</span>-->
                                        <p>
                                              What is Lorem Ipsum?
                                              What is Lorem Ipsum?
                                              ldus PageMaker including versions of Lorem Ipsum.What is Lorem Ipsum?
                                              ldus PageMaker including versions of Lorem Ipsum.What is Lorem Ipsum?
                                              ldus PageMaker including versions of Lorem Ipsum.
                                              ldus PageMaker including versions of Lorem Ipsum.
                                        </p>
                                      </article>
                               </a>
                      </div>
  
                                     <!-- grid item, containing a card -->
                      <div class="item-3">
                          <a href="" class="card">
                                  <div class="thumb" style="background-image: url('../assets/images/business-1031754_640.jpg');"></div>
                                  <article>
                                    <h1>Business</h1>
                                     <!--<span>Author</span>-->
                                    <p>
                                          What is Lorem Ipsum?
                                          What is Lorem Ipsum?
                                          ldus PageMaker including versions of Lorem Ipsum.What is Lorem Ipsum?
                                          ldus PageMaker including versions of Lorem Ipsum.What is Lorem Ipsum?
                                          ldus PageMaker including versions of Lorem Ipsum.
                                          ldus PageMaker including versions of Lorem Ipsum.
                                    </p>
                                  </article>
                           </a>
                    </div>  
  
                        <!-- grid item, containing a card -->
                        <div class="item-4">
                              <a href="" class="card">
                                      <div class="thumb" style="background-image: url('../assets/images/basketball.jpeg');"></div>
                                      <article>
                                        <h1>Interview types</h1>
                                         <!--<span>Author</span>--->
                                        <p>
                                              What is Lorem Ipsum?
                                              What is Lorem Ipsum?
                                              What is Lorem Ipsum?  What is Lorem Ipsum?  What is Lorem Ipsum?
                                              ldus PageMaker including versions of Lorem Ipsum.
                                        </p>
                                      </article>
                              </a>
                      </div>
                      
                      <div class="item-5">
                              <a href="" class="card">
                                      <div class="thumb" style="background-image: url('../assets/images/entertainment.jpeg');"></div>
                                      <article>
                                        <h1>Career tips</h1>
                                         <!--<span>Author</span>-->
                                        <p>
                                             Can You Make a living Freelancing?
                                        </p>
                                      </article>
                              </a>
                      </div>
  
  
                      <div class="item-6">
                              <a href="" class="card">
                                      <div class="thumb" style="background-image: url('../assets/images/motivational.jpeg');"></div>
                                      <article>
                                        <h1>Motivational</h1>
                                         <!--<span>Author</span>-->
                                        <p>
                                              What is Lorem Ipsum?
                                              What is Lorem Ipsum?
                                              What is Lorem Ipsum?  What is Lorem Ipsum?  What is Lorem Ipsum?
                                              ldus PageMaker including versions of Lorem Ipsum.
                                        </p>
                                      </article>
                              </a>
                      </div>
  
                      <div class="item-7">
                              <a href="" class="card">
                                      <div class="thumb" style="background-image: url('../assets/images/music.jpeg');"></div>
                                      <article>
                                        <h1>Music</h1>
                                         <!--<span>Author</span>-->
                                        <p>
                                              What is Lorem Ipsum?
                                              What is Lorem Ipsum?
                                              What is Lorem Ipsum?  What is Lorem Ipsum?  What is Lorem Ipsum?
                                              ldus PageMaker including versions of Lorem Ipsum.
                                        </p>
                                      </article>
                              </a>
                      </div>      
                      <button class="button" style="background-color:red">Read More</button>
  
              </div>
              </div>


               <!-- Newsletter -->
              <!-- <div id="slide3" class="slide"> -->
                <!-- <h1>subscribe to our Newsletter</h1> -->
                <!-- <hr>
                <form class="ui form" [formGroup]="newsletterForm" [ngClass]="{'loading': isLoading}" #myForm="ngForm">
                  <div class ="_registerr">
                    <p style="color: white"></p>
                  </div>
                  <input class="_h60 _fs20" type="text" placeholder="Name" required="" formControlName="name" />
                  <div class ="_registerr">
                    <p style="color: white"></p>
                  </div>
                  <input class="_h60 _fs20 " type="email" placeholder="Email Address" required="" formControlName="email" />
                  <div class="bottom _mt20">
                    <button class="btn reg _h60 _w50" (click)="subscribeToNewsletter()" type="submit" [disabled]="!myForm.form.valid" style="font-size:25px;">SIGN UP </button>
                  </div>
                </form>-->
              <!-- </div> -->


              
               <!-- Newsletter -->
              <div id="slide3" class="slide"> 
                  <!-- <h1>subscribe to our Newsletter</h1> -->
                  <section class="home-newsletter">
                      <div class="container">
                      <div class="row">
                      <div class="col-sm-12">
                        <div class="single">
                          <h2>Subscribe to our Newsletter</h2>
                        <div class="input-group">
                               <input type="email" class="form-control" placeholder="Enter your email">
                               <span class="input-group-btn">
                               <button class="btn btn-theme" type="submit">Subscribe</button>
                               </span>
                                </div>
                        </div>
                      </div>
                      </div>
                      </div>
                      </section>
          
          </div>

              <!--Partners-->
              <div id="slide4" class="slide">
                  <div class="container">
                      <h1 class="xlarge-font">Partners</h1>
                   
                      <!--section one-->
                    <div class="row">
                      <div class="col-md-6">
                          <div class="probootstrap-service-2 probootstrap-animate">
                          <div class="image">
                            <div class="image-bg">
                              <img src="../assets/images/postbank.jpg" alt="postbank">
                            </div>
                          </div>
                              <div class="text">
                                <span class="enrolled-count">Empowering You</span>
                                <a href="https://www.postbank.co.ug/" target="_blank"><button class="ui primary button">Apply Now</button></a>
                             </div>
                        </div>
                      </div>
                        
                      <div class="col-md-6">
                        <div class="probootstrap-service-2 probootstrap-animate">
                          <div class="image">
                            <div class="image-bg">
                              <img src="../assets/images/dembe.jpg" alt="Dembe">
                            </div>
                          </div>
                          <div class="text">
                              <span class="enrolled-count">Omuziki Nebikuzimba</span>
                              <a href="http://www.dembefm.ug/" target="_blank"><button class="ui primary button">Apply Now</button></a>
                           </div>
                        </div>
                      </div>
                    </div>
              </div>
            

                 <!--section two-->  

                 <div class="row">
                    <div class="col-md-6">
                      <div class="probootstrap-service-2 probootstrap-animate">
                        <div class="image">
                          <div class="image-bg">
                            <img src="../assets/images/dfcu.jpg" alt="dfcu">
                          </div>
                        </div>
                        <div class="text">
                            <span class="enrolled-count">With Pleasure</span>
                            <a href="http://www.dfcugroup.com/" target="_blank"><button class="ui primary button">Apply Now</button></a>
                         </div>
                      </div>
                      
                            
                      <div class="probootstrap-service-2 probootstrap-animate">
                        <div class="image">
                          <div class="image-bg">
                            <img src="../assets/images/kcca.png" alt="kcca">
                          </div>
                        </div>
                        <div class="text">
                            <span class="enrolled-count">For A Better City</span>
                            <a href="https://www.kcca.go.ug/" target="_blank"><button class="ui primary button">Apply Now</button></a>
                         </div>
                      </div>
        
                    </div>
                      
                    <div class="col-md-6">
                        
                       
                      <div class="probootstrap-service-2 probootstrap-animate">
                        <div class="image">
                          <div class="image-bg">
                            <img src="../assets/images/kfm.jpg" alt="kfm">
                          </div>
                        </div>
                        <div class="text">
                            <span class="enrolled-count">Better Information</span>
                            <a href="http://kfm.co.ug/" target="_blank"><button class="ui primary button">Apply Now</button></a>
                         </div>
                      </div>
                        
        
                      <div class="probootstrap-service-2 probootstrap-animate">
                        <div class="image">
                          <div class="image-bg">
                            <img src="../assets/images/mtn.jpg" alt="MTN">
                          </div>
                        </div>
                        <div class="text">
                            <span class="enrolled-count">Closing</span>
                            <a href="https://www.mtn.co.ug/en/Pages/default.aspx" target="_blank"><button class="ui primary button">Apply Now</button></a>
                         </div>
                      </div>
                    </div>
                  </div>
                  <button class="button">View More</button>
          </div>
      


              <!--Mentors-->
              <div id="slide5" class="slide">
                  <h1 class="xlarge-font"><b>Meet Mentor</b></h1>

                  <!-- horizontal -->
                  
                  <div class="flip">
                      <div class="front" style="background-image: url('../assets/images/entertainment.jpeg');">
                         
                      </div>
                      <div class="back">
                          <h2 style="text-align: center;">Portfolio</h2>
                         <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
                      </div>
                  </div>
                  <div class="flip">
                      <div class="front" style="background-image: url('../assets/images/banner.jpg');">
                         
                      </div>
                      <div class="back">
                          <h2 style="text-align: center;">Portfolio</h2>
                         <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
                      </div>
                  </div>
                  
                  <div class="flip">
                      <div class="front" style="background-image: url('../assets/images/Sudir.jpg');">
                         <!----<h1 class="text-shadow">OCEAN</h1>--->
                      </div>
                      <div class="back">
                          <h2 style="text-align: center;">Portfolio</h2>
                         <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
                      </div>
                  </div>
                  
                  <div class="flip">
                      <div class="front" style="background-image: url('../assets/images/Mutebile.jpg');">
                         <!----<h1 class="text-shadow">OCEAN</h1>--->
                      </div>
                      <div class="back">
                          <h2 style="text-align: center;">Portfolio</h2>
                         <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
                      </div>
                  </div>
                  
                  <div class="flip">
                      <div class="front" style="background-image: url('../assets/images/museveni.jpg');">
                         <!----<h1 class="text-shadow">OCEAN</h1>--->
                      </div>
                      <div class="back">
                          <h2 style="text-align: center;">Portfolio</h2>
                         <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
                      </div>
                  </div>
                  
                  <div class="flip">
                      <div class="front" style="background-image: url('../assets/images/Richard.jpg');">
                         <!----<h1 class="text-shadow">OCEAN</h1>--->
                      </div>
                      <div class="back">
                          <h2 style="text-align: center;">Portfolio</h2>
                         <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
                      </div>
                  </div>
                  <button class="button">View More</button>
              </div>



</div>
</div>
<!-- footer -->
<app-footer></app-footer>
