
<div class = "footer">
        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
          /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
          <form #form action="https://gmail.us3.list-manage.com/subscribe/post?u=00abb3df9ff48f20a6ce6e42d&amp;id=fc16a07e7e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
            
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_00abb3df9ff48f20a6ce6e42d_fc16a07e7e" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" (click)="form.submit()"value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
          </form>
        </div>
      
      <!--End mc_embed_signup-->
    <footer class="copy-w3layouts-inf">
        <p>© 2019
            NSSF. All rights reserved |
    
        </p>
        <ul class="list-unstyled w3layouts-icons">
            <li>
                <a href="https://www.facebook.com/nssfug/" class="face-b">
                    <span class="fa fa-facebook-f"></span>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/nssfug" class="twit">
                    <span class="fa fa-twitter"></span>
                </a>
            </li>
            <li>
                <a href="#" class="dribble">
                    <span class="fa fa-dribbble"></span>
                </a>
            </li>
            <li>
                <a href="#" class="vk">
                    <span class="fa fa-vk"></span>
                </a>
            </li>
        </ul>
        <div class="clear"></div>
    </footer>
</div>