.header{
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
  padding-top:47px;
}

.row{
  margin-top: 10px;
}

.error{
  color: red;
}

.success{
  color: green;
}

.register{
  font-size:18px;
}

.ui.facebook.icon{ 
font-size:18.5px;
}

.ui.google.plus.icon, .ui.twitter.icon{
  font-size:20px;
}

.already{
  padding-left:15px;
}

