<h1 class="header">Create an account</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-3">
      <form [formGroup]="registerForm">
        <div class="form-group">
          <label>Email address</label>
          <input type="email" formControlName="email" class="form-control">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password">
          <label class="error">{{errorMessage}}</label>
          <label class="success">{{successMessage}}</label>
        </div>
        
        
        <button type="submit" (click)="tryRegister(registerForm.value)" class="positive ui button"><div class="register">Register</div></button>
        

        <!---<button type="submit" (click)="tryRegister(registerForm.value)" class="positive ui button">Register</button>--->
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      
      <button type="button" class="ui circular facebook icon button" (click)="tryFacebookLogin()"><i class="facebook icon"></i>Register with facebook</button>
    
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button type="button" class="ui circular google plus icon button" (click)="tryGoogleLogin()"><i class="google plus icon"></i>Register with Google</button>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      
      <button type="button" class="ui circular twitter icon button" (click)="tryTwitterLogin()"><i class="twitter icon"></i>Register with Twitter</button>
    
    </div>
  </div>
  <div class="row">
    
    <div class="col-md-4 col-md-offset-4">
      <p class="already">Already have an account? <a href="/login">Login</a></p>
    </div>
  </div>
</div>
