
<div class="main-top-intro">
  <div class="bg-layer">
      <!-- header -->
      <div class="wrapper">
          <header>
            <div class="fancyFont">"
            <div class="header-w3layouts">
                <h1>
                    <a class="navbar-brand logo" href="index.html">
                   Utilizer 
                    </a>
                </h1>
            </div>
            <div class="nav_w3pvt">
                <nav>
                    <label for="drop" class="toggle mt-lg-0 mt-2"><span class="fa fa-bars" aria-hidden="true"></span></label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu">
                        <li class="active"><a href="#">Home</a></li>
                        <li class=""><a href="#">About</a></li>
                        <li class=""><a href="#">Services</a></li>
                        <li class="p-0">
                            <!-- First Tier Drop Down -->
                            <label for="drop-2" class="toggle">Pages <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                            <a href="#">Pages <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                            <input type="checkbox" id="drop-2" />
                            <ul class="inner-dropdown">
                                <li><a href="#">Error Page</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
           
            <div class="clear"></div>
          </div>
  
        </header>
           
  
          <div class="fancyFont">
            <div>
              <div>
                <h2> Create an Account with us.</h2>
                </div>
                <!---728x90--->
  
                <div class="content-w3layouts-main">
  
                    <div class="form-w3ls-left-info">
                        <form class="ui form myForm" id="myForm" [formGroup]="registerForm" (ngSubmit)="tryRegister(registerForm.value)" [ngClass]="{'loading': isLoading}" #myForm="ngForm">

                            <div class ="_registerr">
                                <p style="color: white"> EMAIL </p>
                             </div>
                            <input class="_h60 _fs20 " type="email" placeholder="Email Address" required="" formControlName="email" /><div class="inputs">
                            <div class ="_registerr">
                                <p style="color: white"> PASSWORD </p>
                              </div>
                            <input class="_h60 _fs20" type="password" placeholder="Password" required="" formControlName="password" /></div>
                           
                            
                            <div class="bottom _mt20">

                              <button class="btn reg _h60 _w50 fancyFont"  type="submit" [disabled]="!myForm.form.valid">
                                sign up </button>
                            </div>

                                  <a style="color: white;padding-top: 18px" class = " links btn fancyFont password" 
                                  (click)="tryLogin()" type="submit" href="/login"><u>LOGIN</u></a>
                            
                          </form>
                        </div>
                </div>

            

          
          <div class="content-outer-info ">
            <p style = "color: rgb(252, 250, 252)" class="_loginwith"> REGISTER WITH </p>
            
            <button class="ui facebook button" (click)="tryFacebookLogin()">
              <i class="ui.facebook"></i>
              Facebook
            </button>
           
            <button class="ui twitter button" (click)="tryTwitterLogin()">
              <i class="ui.twitter"></i>
              Twitter
            </button>
            
            <button class="ui google plus button" (click)="tryGoogleLogin()">
              <i class="ui.google"></i>
              Google Plus
            </button>
        
          
            <div class="copy-w3layouts-inf">
              <p>© 2019
                  NSSF. All rights reserved |
            
              </p>
              <ul class="list-unstyled w3layouts-icons">
                  <li>
                      <a href="#" class="face-b">
                          <span class="fa fa-facebook-f"></span>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="twit">
                          <span class="fa fa-twitter"></span>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="dribble">
                          <span class="fa fa-dribbble"></span>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="vk">
                          <span class="fa fa-vk"></span>
                      </a>
                  </li>
              </ul>
              <div class="clear"></div>
          </div>
          <!-- //copyright -->
      </div>
          </div>
      </div>
 </div>

</div>
