<app-header></app-header>
<div class="main-top-intro" (scroll)="onWindowScroll($event);">
  <div class="bg-layer">
    <div class="terms" style="padding-left:180px;">
            
            <h1 class="xlarge-font"><b>Meet Mentor</b></h1>

<!-- horizontal -->

<div class="flip">
    <div class="front" style="background-image: url('../assets/images/entertainment.jpeg');">
       
    </div>
    <div class="back">
        <h2 style="text-align: center;">Portfolio</h2>
       <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
    </div>
</div>
<div class="flip">
    <div class="front" style="background-image: url('../assets/images/banner.jpg');">
       
    </div>
    <div class="back">
        <h2 style="text-align: center;">Portfolio</h2>
       <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
    </div>
</div>

<div class="flip">
    <div class="front" style="background-image: url('../assets/images/Sudir.jpg');">
       <!----<h1 class="text-shadow">OCEAN</h1>--->
    </div>
    <div class="back">
        <h2 style="text-align: center;">Portfolio</h2>
       <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
    </div>
</div>

<div class="flip">
    <div class="front" style="background-image: url('../assets/images/Mutebile.jpg');">
       <!----<h1 class="text-shadow">OCEAN</h1>--->
    </div>
    <div class="back">
        <h2 style="text-align: center;">Portfolio</h2>
       <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
    </div>
</div>

<div class="flip">
    <div class="front" style="background-image: url('../assets/images/museveni.jpg');">
       <!----<h1 class="text-shadow">OCEAN</h1>--->
    </div>
    <div class="back">
        <h2 style="text-align: center;">Portfolio</h2>
       <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
    </div>
</div>

<div class="flip">
    <div class="front" style="background-image: url('../assets/images/Richard.jpg');">
       <!----<h1 class="text-shadow">OCEAN</h1>--->
    </div>
    <div class="back">
        <h2 style="text-align: center;">Portfolio</h2>
       <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
    </div>
</div>


<br>
<br>

<div class="flip">
    <div class="front" style="background-image: url('../assets/images/Elijah.png');">
       <!----<h1 class="text-shadow">OCEAN</h1>--->
    </div>
    <div class="back">
        <h2 style="text-align: center;">Portfolio</h2>
       <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
    </div>
</div>

<div class="flip">
    <div class="front" style="background-image: url('../assets/images/Thomas.jpg');">
       <!----<h1 class="text-shadow">OCEAN</h1>--->
    </div>
    <div class="back">
        <h2 style="text-align: center;">Portfolio</h2>
       <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
    </div>
</div>

<div class="flip">
    <div class="front" style="background-image: url('../assets/images/Nick.jpg');">
       <!----<h1 class="text-shadow">OCEAN</h1>--->
    </div>
    <div class="back">
        <h2 style="text-align: center;">Portfolio</h2>
       <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
    </div>
</div>


    </div>
  </div>
</div>

<!-- footer -->
<app-footer></app-footer>


